<h1>Welcome to Caravaggio!</h1>

<script>
  var models = <%= @models.to_json.html_safe %>;
  var associations = <%= @associations.to_json.html_safe %>;
</script>
  
<div id="container">
  <div id="sidebar">
    <ul>
      <li><%= check_box_tag "ALL", "ALL", true, class: "all-model-checkbox", onclick: "setAllModels(this)" %>ALL</li>
      <% @models.each do |model| %>
        <li><%= check_box_tag model[:friendly_name], model[:friendly_name], true, data: {class_name: model[:id]}, class: "model-checkbox", onclick: "setModel(this)" %> <%= model[:short_name] %></li>
      <% end %>
    </ul>
  </div>
  <div id="canvas">
    <svg id="model-diagram" width="1000" height="1000" />
  </div>
</div>